.ue-sidebar-controls {
    position:absolute; 
    top:50px;
    left:-90px;
    li {
        display:block;
        width:70px;
        height:70px;
        background:#ddd;
        margin-bottom:9px;
        text-align:center;
        line-height:78px;
        cursor:pointer;
        position:relative;
        background-image:linear-gradient(-180deg, #EAEFFA 0%, #FFFFFF 100%);
        border-radius:5px;
        box-shadow:0px 2px 0px 0px #000;
        color:$primary-color-dark;
        font-family: 'Keller';
        font-size:50px;
        .reversed & {
            background-image:linear-gradient(-180deg, $primary-color-dark 0%, lighten($primary-color-dark, 2%) 100%);
            color:$primary-color-light;
        }
        &.control-icon-mic {
            font-size:52px;
            line-height:78px;
        }
        &.control-icon-vid {
            font-size:49px;
            line-height:82px;
        }
        &.control-icon-set {
            font-size:38px;
            line-height:75px;
        }
        &.control-icon-key {
            font-size:79px;
            line-height:81px;
        }
        &.control-icon-sou {
            font-size:37px;
            line-height:81px;
        }
        &.show {
            color:#6DBD15;
        }
        &.selected:after {
            position:absolute; 
            top:-6px;
            right:-8px;
            content:"7";
            font-size:13px;
            line-height:23px;
            display:block;
            width:20px;
            height:20px;
            border-radius:100%;
            background-color:$primary-color-dark;
            border:1px solid #fff;
            color:#fff;
        }
    }
}