@font-face {
  font-family: 'Universal eDreams';
  src: url('../fonts/universal-edreams.eot');
  src: url('../fonts/universal-edreams.eot?#iefix') format('embedded-opentype'),
  url('../fonts/universal-edreams.woff') format('woff'),
  url('../fonts/universal-edreams.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
