@font-face {
    font-family: 'Keller';
    src: url('../../fonts/keller-font.eot');
    src: url('../../fonts/keller-font.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/keller-font.woff') format('woff'),
    url('../../fonts/keller-font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
