body {
  background-color:$primary-color-dark;
  color:#fff;
}

.ue-module {
  display:none;
  padding:40px;
}
.ue-module.active {
  display:block;
}
h1, h2, h3, h4, h5 {
  font-family:Arial, Verdana, sans-serif;
}
h3 {
  margin-bottom:20px;
  font-size:30px;
}
h5 {
  margin-bottom:20px;
  font-size:20px;
}
input[type="text"] {
  border:none;
  font-size:35px;
  padding:20px 40px;
  text-transform:capitalize;
}