body {
  background-color:$primary-color-dark;
  color:$primary-color-light;  
  &.reversed {
      background-color:$primary-color-light;
      color:$primary-color-dark;
  }
}

.ue-module {
  display:none;
  padding:40px;
}
.ue-module.active {
  display:block;
}
h1, h2, h3, h4, h5 {
  font-family:Arial, Verdana, sans-serif;
  margin-bottom:20px;
  line-height:100%;
}
h3 {  
  font-size:3em;
}
h4 {  
  font-size:2.2em;
}
h5 {  
  font-size:1.8em;
}