#ue-sidebar {
  background:#fff;
  position:fixed;
  top:0;
  bottom:0;
  right:-350px;
  width:350px;
  border-left:1px solid #ddd;
  z-index:9999999;
  &.active {
    right:0;
  }
}

.ue-settings {
  //.transition(right 0.3s ease-out);
  .ue-settings-toggle {
    position:absolute;
    top:10px;
    left:-25px;
    display:block;
    width:25px;
    height:25px;
    background:#ddd;
    cursor:pointer;

  }
  .ue-settings-row {
    padding:25px 20px;
    border-bottom:1px solid #ddd;
    background-image:linear-gradient(-180deg, #EAEFFA 0%, #FFFFFF 100%);
  }
  .ue-settings-label {
    font-size:16px;
    font-weight:600;
    font-family:"Roboto";
    color:$primary-color-dark;
    display:inline-block;
  }
  .ue-settings-voice-switch {
    display:block;
    background:#ddd;
    width:70px;
    height:30px;
    cursor:pointer;
    border-radius:20px;
    float:right;
    position:relative;
    &:after {
      position:absolute;

    }
  }
  .ue-settings-stepper {
    display:table;
    background:$primary-color-dark;
    width:70px;
    margin:0 auto;
    border-radius:20px;
    float:right;
    text-align:center;
    color:#fff;
    > div {
      display:table-cell;
      width:50%;
      height:30px;
      vertical-align:middle;
      cursor:pointer;
      font-size:20px;
      font-weight:600;
      font-family:"Roboto";
      &:first-child {
        border-right:1px solid #fff;
      }
    }
  }
  .ue-settings-logger {
    .ue-logger-box {
      border:1px solid #ddd;
      margin:15px;
      padding:10px;
      height:100px;
      overflow-y:scroll;
    }
  }
}
