.ue-sidebar-widgets {
  color:$primary-color-dark;
  > li {
    display:none;
    &.show {
      display:block;
    }
  }
}
.ui-sidebar-header {
  height: 80px;
  background-color:$primary-color-dark;
  .ui-sidebar-close {
    display:block;
    width:80px;
    height:80px;
    background:darken($primary-color-dark, 10%);
    line-height:80px;
    text-align:center;
    font-size:30px;
    font-family:"Keller";
    cursor:pointer;
  }
}