@mixin transition ($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin selection {
    ::-moz-selection { @content; }
    ::selection { @content; }    
}