@mixin transition ($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin selection {
    ::-moz-selection { @content; }
    ::selection { @content; }    
}

@mixin noselection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;   
    -moz-user-select: none;   
    -ms-user-select: none;       
    user-select: none;            
}